<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.divine.system.mapper.SysNoticeMapper">

    <select id="getMyNotice" resultType="com.divine.system.domain.vo.MyNoticeVo">
        SELECT n.notice_id,
               n.notice_title,
               n.notice_type,
               n.notice_content,
               n.STATUS,
               n.create_by,
               n.create_time,
               n.update_by,
               n.update_time,
               n.remark,
               CASE
                   WHEN r.id IS NULL THEN 0
                   ELSE 1
                   END AS isRead
        FROM sys_notice n
                 LEFT JOIN sys_notice_read r
                           ON n.notice_id = r.notice_id
                               AND r.user_id = #{userId}
        WHERE n.status = 1
        ORDER BY isRead ASC,
                 n.create_time DESC
    </select>

    <select id="getUnreadCont" resultType="java.lang.Long">
        SELECT
            COUNT(*) AS unread_count
        FROM
            sys_notice n
                LEFT JOIN
            sys_notice_read r
            ON n.notice_id = r.notice_id
                AND r.user_id = #{userId}
        WHERE
            n.status = 1
          AND r.id IS NULL
    </select>
</mapper>
