<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.divine.warehouse.mapper.InventoryHistoryMapper">

    <resultMap id="inventoryHistoryVoMap" type="com.divine.warehouse.domain.vo.InventoryHistoryVo">
        <association property="itemSku" javaType="com.divine.warehouse.domain.vo.ItemSkuVo">
            <id property="id" column="sku_id"/> <!-- 映射 itemSku 的 id -->
        </association>
        <association property="item" javaType="com.divine.warehouse.domain.vo.ItemVo">
            <id property="id" column="item_id"/> <!-- 映射 item 的 id -->
        </association>
    </resultMap>

    <select id="selectVoPageByBo" resultMap="inventoryHistoryVoMap">
        select
        history.*,
        sku.id as sku_id,
        sku.*,
        item.id as item_id,
        item.*
        from wms_inventory_history history
        left join wms_item_sku sku on history.sku_id=sku.id
        left join wms_item item on sku.item_id=item.id
        <where>
            <if test="dto.orderType != null">
                history.order_type=#{dto.orderType}
            </if>
            <if test="dto.orderNo != null and dto.orderNo != ''">
                and history.order_no=#{dto.orderNo}
            </if>
            <if test="dto.itemName != null and dto.itemName != ''">
                and item.item_name like concat('%', #{dto.itemName}, '%')
            </if>
            <if test="dto.itemCode != null and dto.itemCode != ''">
                and item.item_code like concat('%', #{dto.itemCode}, '%')
            </if>
            <if test="dto.skuName != null and dto.skuName != ''">
                and sku.sku_name like concat('%', #{dto.skuName}, '%')
            </if>
            <if test="dto.skuId != null">
                and sku.id = #{dto.skuId}
            </if>
            <if test="dto.skuCode != null and dto.skuCode != ''">
                and sku.sku_code like concat('%', #{dto.skuCode}, '%')
            </if>
            <if test="dto.warehouseId != null">
                and history.warehouse_id=#{dto.warehouseId}
            </if>
            <if test="dto.startTime != null and dto.startTime != '' and dto.endTime != null and dto.endTime != ''">
                and (history.create_time between #{dto.startTime} and #{dto.endTime})
            </if>
        </where>
        order by history.create_time desc
    </select>
</mapper>
