<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.divine.warehouse.mapper.ItemSkuMapper">

    <resultMap id="itemSkuMapVo" type="com.divine.warehouse.domain.vo.ItemSkuMapVo">
        <association property="item" javaType="com.divine.warehouse.domain.vo.ItemVo">
            <id property="id" column="item_id"/> <!-- 映射 item 的 id -->
        </association>
        <association property="itemSku" javaType="com.divine.warehouse.domain.vo.ItemSkuVo">
            <id property="id" column="sku_id"/> <!-- 映射 item 的 id -->
        </association>
    </resultMap>

    <select id="queryItemSkuMapVos" resultMap="itemSkuMapVo">
        select
            sku.id as sku_id,
            sku.*,
            item.id as item_id,
            item.*
        from wms_item_sku sku
        inner join wms_item item on sku.item_id=item.id
        where sku.id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="queryItemSkuMapVo" resultMap="itemSkuMapVo">
        select
        sku.id as sku_id,
        sku.*,
        item.id as item_id,
        item.*
        from wms_item_sku sku
        inner join wms_item item on sku.item_id=item.id
        where sku.id = #{id}
    </select>

    <select id="selectByBo" resultMap="itemSkuMapVo">
        select
            sku.id as sku_id,
            sku.*,
            item.id as item_id,
            item.*
        from wms_item_sku sku
        inner join wms_item item on sku.item_id=item.id
        inner join wms_item_category category on item.item_category=category.id
        <where>
            <if test="dto.itemName != null and dto.itemName != ''">
                and item.item_name like concat('%', #{dto.itemName}, '%')
            </if>
            <if test="dto.itemCode != null and dto.itemCode != ''">
                and item.item_code like concat('%', #{dto.itemCode}, '%')
            </if>
            <if test="dto.itemBrand != null">
                and item.item_brand=#{dto.itemBrand}
            </if>
            <if test="dto.skuName != null and dto.skuName != ''">
                and sku.sku_name like concat('%', #{dto.skuName}, '%')
            </if>
            <if test="dto.barcode != null and dto.barcode != ''">
                and sku.barcode like concat('%', #{dto.barcode}, '%')
            </if>
            <if test="dto.itemCategory != null and dto.itemCategory != ''">
                and (category.id=#{dto.itemCategory} or category.parent_id=#{dto.itemCategory})
            </if>
        </where>
        order by sku.item_id desc
    </select>
</mapper>
